{{template "header"}}

<form method ="post">
<label for="firstName">First Name</label>
<input type="text" id ="firstname" name ="first">
<br>
<label for"lastName">First Name</label>
<input type="text" id ="lastname" name ="last">
<br>
<for ="subscribed
