<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
</style>
</head>
<body>

  <a href="#"><h1>make something happen<h1></a>

    <script>
    document.querySelector('h1').onclick = makeRequest;

    function makeRequest() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/foo')
    xhr.onreadystatechange = function () {
      if (xhr.readystate === XMLHttpRequest.DONE && xhr.status === 200) {
        alert(xhr.reponseText);
      }
    };
    xhr.send()
    }
    </script>
  </body>
  </html>
