html{
  margins: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  color: purple;
  display: flex;
  align-items : center;
  justify-content: center;
  background: url("om5z3s-b88903094z.120170301173338000g43lq21q.10.jpeg");
  background-size: cover;
  background-repeat: no-repeat:
}
