<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <title>Hands on #3</title>
</head>
<body>
<h1>Pictures of Fresno:</h1>
<img scr="/public pics/big-bassett-ears-9698.jpg " alt="Big Ears">
<img src="/public pics/dog.jpg.html" alt="Angry Dog">
<img src="/pics/tumblr_m57582IZIw1rxljemo1_500.jpg" alt="Praying Dog">
</body>
</html>

